<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Detail</title>
    <link rel="stylesheet" href="{% static 'style_staff.css' %}">
</head>

<body>
    <h1>Attendance Detail</h1>
    <p><strong>Staff:</strong> {{ queryset.staff.username }}</p>
    <p><strong>Status:</strong> {{ queryset.status }}</p>
    <p><strong>Date and Time:</strong> {{ queryset.date_time|date:"Y-m-d H:i" }}</p>
    <a href="{% url 'attendance:listAttendance' %}">Back to List</a>
</body>
</html>