<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance List</title>
    <link rel="stylesheet" href="{% static 'style_staff.css' %}">
</head>

<body>
    <h1>Attendance List</h1>
    <a href="{% url 'attendance:createAttendance' %}">Add New Attendance</a>
    <ul>
        {% for attendance in queryset %}
            <li>
                {{ attendance.staff.username }} - {{ attendance.status }} ({{ attendance.date_time|date:"Y-m-d H:i" }})
                <a href="{% url 'attendance:detailAttendance' attendance.id %}">View</a> | 
                <a href="{% url 'attendance:updateAttendance' attendance.id %}">Edit</a> | 
                <a href="{% url 'attendance:deleteAttendance' attendance.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'index' %}">Home</a>
</body>
</html>