<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Attendance</title>
    <link rel="stylesheet" href="{% static 'style_staff.css' %}">
</head>

<body>
    <h1>Update Attendance</h1>
    <form method="post", action="{% url 'attendance:updateAttendance' attendance.id %}">
        {% csrf_token %}
        <div>
            <label for="status">Status</label>
            <select id="status" name="status">
                <option value="Present" {% if attendance.status == 'Present' %}selected{% endif %}>Present</option>
                <option value="Absent" {% if attendance.status == 'Absent' %}selected{% endif %}>Absent</option>
            </select>
        </div>
        <div>
            <label for="date">Date</label>
            <input type="date" id="date" name="date" value="{{ attendance.date_time.date }}">
        </div>
        <div>
            <label for="time">Time</label>
            <input type="time" id="time" name="time" value="{{ attendance.date_time.time }}">
        </div>
        <button type="submit">Update</button>
    </form>
    <a href="{% url 'attendance:listAttendance' %}">Back to List</a>
</body>
</html>